* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Bigger than Tablet */
@media (min-width: 769px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  #samuel-headshot {
    width: 15%;
    height: 15%;
  }

  section {
    width: 22%;
  }

  section > a > img {
    width: 10vw;
    height: 10vw;
  }

  footer {
    margin-top: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  h1 {
    margin-left: 30px;
  }
}

/* Smaller than Tablet */
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 60%;
    margin-top: 10%;
  }

  section > a > img {
    width: 20vw;
  }

  footer {
    margin-top: 10%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px 2vh 10px;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

header {
  margin-top: 2%;
  padding: 2vw;
}

h2 {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bde3ff;
  border-radius: 10px;
}

a {
  color: black;
}

section > a {
  aspect-ratio: 1/1;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

section > a > h2 {
  margin-bottom: 0;
}

h1 > span {
  color: grey;
  font-size: 80%;
}

#samuel-headshot {
  border-radius: 50%;
}

footer {
  background-color: #e6e6e6;
}

/* typewriter animation */
@media (min-width: 500px) {
  .typewriter {
    overflow: hidden;
    border-right: 0.15em solid #49adf5;
    width: 0;
    white-space: nowrap;
    animation: typing 1.5s steps(30, end) forwards, blink 1s infinite;
  }

  .typewriter-container {
    display: inline-block;
  }

  h1 > span {
    display: block;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes blink {
    from {
      border-color: transparent;
    }

    to {
      border-color: #49adf5;
    }
  }
}
