:root {
  --main-blue: #bde3ff;
  --light-gray: #e6e6e6;
}

* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Tablet & Laptop */
@media (min-width: 641px) {
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  /* experience blocks */
  .experience {
    width: 65ch;
  }

  .experience img {
    width: 90px;
    height: 90px;
  }

  /* project blocks */
  .project {
    width: 65ch;
  }

  /* coursework block */
  .coursework-list {
    margin-top: 25px;
    padding: 25px 50px;
  }

  .coursework-list li {
    font-size: 1.4em;
  }
}

/* Tablet */
@media (min-width: 641px) and (max-width: 1007px) {
  /* experience blocks */
  .experience {
    width: 55ch;
  }

  /* project blocks */
  .project {
    width: 55ch;
  }

  /* coursework block */
  .coursework-list {
    width: 55ch;
  }
}

/* Phone Tablet */
@media (max-width: 640px) {
  footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px 2vh 10px;
  }
  /* experience blocks */
  .experience {
    width: 70%;
  }

  .experience img {
    width: 80px;
    height: 80px;
  }

  /* project blocks */
  .project {
    width: 80%;
  }

  /* coursework blocks */
  .coursework-list {
    width: 80%;
    padding: 25px 10px 25px 30px;
  }

  .coursework-list li {
    font-size: 1.1em;
  }
}

/* header, main, footer */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

/* header */
header {
  background-color: var(--light-gray);
  position: sticky;
  top: 0;
  opacity: 0.9;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  aspect-ratio: 1/1;
  padding: 0.5vw;
  background-color: var(--main-blue);
}

nav img {
  width: 40px;
  height: 40px;
}

/* general text styling */
h1 {
  font-size: 1.75rem;
  margin: 0;
  margin-left: 15px;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 > span {
  display: inline-flex;
  color: rgb(95, 95, 95);
  font-size: 0.65em;
}

/* experience blocks */
.experience {
  display: flex;
  flex-flow: column wrap;
  margin-top: 25px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--main-blue);
}

.experience div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.experience h2 {
  margin-left: 15px;
}

.experience p {
  font-size: 1.5em;
}

.experience li:nth-child(n + 2) {
  margin-top: 0.8vh;
}

/* project blocks */
.project {
  display: flex;
  flex-flow: column wrap;
  margin-top: 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: var(--main-blue);
}

.picture-title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.out-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

/* coursework */
.coursework-list {
  border-radius: 10px;
  background-color: var(--main-blue);
}

.coursework-list li {
  padding-left: 1%;
  font-weight: 200;
}

.coursework-list li:nth-child(n + 2) {
  margin-top: 0.8vh;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

footer {
  margin-top: 25px;
  background-color: var(--light-gray);
}

footer div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 15px;
}

footer a {
  width: 30px;
  height: 30px;
}
